


.modal{


  &-user{

    &__container{
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      border-radius: 40px;

      form{
        display: flex;
        flex-direction: column;
        gap: 30px;
      }

      &__input-container{
        display: flex;
        flex-direction: column;
        gap: 7px;
        width: 350px;

        @media screen and (max-width: 600px) {
          width: 250px;
        }
      }

      &__text{
        display: flex;
        gap: 7px;
        align-items: center;
        justify-content: center;

        &__link{
          color: var(--g-color-base-brand);

          &:hover{
          color: var(--g-color-base-brand-hover)
          }
        }
      }

      &__email{
        border-bottom: 2px solid gray;
        width: min-content;
      }
      &__menu{
        width: 350px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #e7e7e7;
        border-radius: 12px;
        @media screen and (max-width: 600px) {
          width: 250px;
        }
        &__item{


          padding: 5px;
          position: relative;

          a{
            text-decoration: none;
            color: black;
          }

          &::after{
            position: absolute;
            content: " ";
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            background-color: black;
            bottom: -3px;
            left: 0;
            transform-origin: right;
            transition: cubic-bezier(1,.08,.26,.92) .9s transform;
          }
          &:hover{
            &::after{
              content: "";
              transform: scaleX(1);
              transform-origin: left;
            }
          }
        }
      }
    }
  }
}