.not-found{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #50B5ED;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  flex-direction: column;
  &__img{
    z-index: 0;
  }

  &__text{
    z-index: 100;
    color: white;
    margin-bottom: -250px;

    a{
      position: relative;
      text-decoration: none;
      color: white;
      top: -250px;

      &::after{
        position: absolute;
        content: " ";
        width: 100%;
        transform: scaleX(0);
        height: 5px;
        background-color: white;
        bottom: -5px;
        left: 0;
        transform-origin: right;
        transition: cubic-bezier(1,.08,.26,.92) .9s transform;
      }
      &:hover{
        &::after{
          content: "";
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
    }
}
