.carousel-indicators{
  z-index: 100;
}
.carousel-control-prev{
  z-index: 100;
}
.carousel-control-next{
  z-index: 100;
}

.main{

  &__spec{
    position: relative;
    scroll-snap-align: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100dvh;
    z-index: 2;

    &__carousel{
      position: absolute;
      top: 0;
      height: 100dvh;
      width: 100dvw;
      z-index: -2;

      &__item{
        height: 100dvh;
        width: 100dvw;

        img{
          height: 100dvh;
          width: 100dvw;
          object-fit: cover;
        }
      }
    }

    &__container{
      width: 100%;
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-top: 50px;
      padding-bottom: 100px;
      background-color: rgba(0,0,0,0.4);

      &__head{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100px;

        color: #FFF;
        text-align: center;

        /* Caption */
        font-family: "Open Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 6px;
        text-transform: uppercase;
      }

      &__tail{
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        width: 100%;


        &__text{
          color: white;
          height: calc(100% - 200px);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          padding-right: 40px;
          padding-left: 40px;

          &-head{
            font-family: "Tenor Sans";
            text-align: center;
            font-size: clamp(36px, 2vw, 48px);
            font-style: normal;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 25px;
            line-height: 1;
          }
          &-line{
            border-radius: 50px;
            background: #E8C300;
            width: 60px;
            height: 5px;
            margin-bottom: 5px;
          }
          &-title{

            text-align: center;
            font-family: Open Sans;
            font-size: clamp(18px,1vw, 22px);
            font-style: normal;
            font-weight: 700;
            line-height: 28px; /* 155.556% */
            margin-bottom: 5px;
          }
          &-subtitle{

            font-family: Open Sans;
            font-size: clamp(14px,0.8vw,16px);
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
          }
        }

      }
    }


  }
}